*
{
    margin:0;
    padding:0;
}
html
{ 
    height: auto; 
    min-height: 100%;
}
body
{
    height: auto;
    min-height: 100%;
    display:grid;
}
.body-color
{
    background-color: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 40%, rgba(255,192,203,1) 100%);
}
nav
{
    border-bottom: 3px solid pink;
    padding: 1em 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}
ul
{
    padding: 0 2em;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
li
{
    width:auto;
    height: auto;
    list-style: none;
    text-align: center;
}
li a
{
    text-align: center;
    padding:0px 15px 0 0;
    font-size:17px;
    text-decoration: none;
    color:black;
}
li a:hover
{
    background-color: rgb(248, 211, 217);
}
